<h2>New Contact</h2>

<form action="/contacts" method="post">
  <div>
    First Name:<input type="string" name="first_name">
  </div>
   <div>
    Middle Name:<input type="string" name="middle_name">
  </div>
   <div>
    Last Name:<input type="string" name="last_name">
  </div>
   <div>
    Email:<input type="string" name="email">
  </div>
   <div>
    Phone Number:<input type="string" name="phone_number">
  </div>
    <div>
    Bio:<input type="text" name="bio">
  </div>
   <div>
    User ID:<input type="integer" name="user_id">
  </div>
   <div>
    <input type="submit" name="Add Contact">
  </div>
</form>

